@media ( max-width:1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      max-width: 580px
  .swiper
    &-slide
      &__image
        height: 100%
        width: 100%
        object-fit: cover

@media ( max-width:992px  )
  .container
    max-width: 700px
  .navbar
    &__search
      margin-left: 47px
    &-menu
      padding: 19px 14px 21px 14px
      &__link
        font-size: 12px
    &-top
      padding: 30px 0
  .logo
    width: 133px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 57px
    &-grid
      flex-wrap: wrap
    &__slider
      margin-bottom: 30px
    &-slider
      max-width: 100%
  .booking
    width: 340px
    &__position
      margin-right: 20px
    &-wrap
      flex-direction: row
    &-map
      width: 340px
  .newsletter
    padding: 92px 0
    &-wrapper
      max-width: 700px
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px

    &-slider
      &__item
        max-width: 579px
        padding: 0 60px 30px 64px
        &::before
          display: none
        &::after
          display: none
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 88%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding: 22px 0  30px 0
      &__menu-button
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      justify-content: space-between
      flex-direction: column
      align-items: center
      cursor: pointer
      border: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .logo
    width: 99px
  .stars
    flex-basis: auto
  .hotel
    padding-top: 5px
    &-wrapper
      justify-content: space-between
      align-items: center
    &-name
      flex-basis: 100%
    &-info
      &__stars
        margin-right: 17px
        margin-bottom: 10px
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-bottom: 10px
  .booking
    width: 100%
    &__position
      margin-right: 0
      margin-bottom: 20px
    &-wrap
      flex-wrap: wrap
      width: 100%
    &-map
      width: 100%
      height: 173px
    &-slider
      height: 350px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 576px
      width: 88%
      flex-direction: column
      align-items: flex-start
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        margin-bottom: 37px
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      margin: 0 auto 42px
    &-slider
      &__item
        padding: 0 30px 36px 30px
      &__button
        top: 45px
        &--prev
          left: 34px
        &--next
          right: 37px

@media (max-width: 567px)
  .hotel
    padding-bottom: 40px
    &-info
      &__text
        margin-bottom: 23px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 179px
  .reviews
    padding-bottom: 50px
    &__title
      width: 92%
