@media ( max-width:1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      max-width: 580px
  .swiper
    &-slide
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 220px
    height: 220px
  .packages
    padding: 32px 0 60px 0
    &__wrapper
      row-gap: 20px
      grid-template-columns: 327px 327px 327px
      colomn-gap: 20px
    &__card
      max-width: 634px
      &-secondary
        max-width: 307px
    &__description
      font-size: 13px
      line-height: 160.6%
      margin: 0 0 46px 0
@media ( max-width:992px  )
  .container
    max-width: 700px
  .navbar
    &__search
      margin-left: 47px
    &-menu
      padding: 19px 14px 21px 14px
      &__link
        font-size: 12px
    &-top
      padding: 30px 0
  .logo
    width: 133px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 57px
    &-grid
      flex-wrap: wrap
    &__slider
      margin-bottom: 30px
    &-slider
      max-width: 100%
  .booking
    width: 340px
    height: 210px
    padding: 29px 24px 26px 25px
    &__position
      margin-right: 20px
    &-wrap
      flex-direction: row
    &-map
      width: 340px
    &-button
      min-width: 100%
  .newsletter
    padding: 92px 0
    &-wrapper
      max-width: 700px
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 579px
        padding: 0 60px 30px 64px
        &::before
          display: none
        &::after
          display: none
      &__button
        top: 50%
        transform: translateY(-50%)
        &--prev
          background-image: url(../img/arrow-prev-secondary.svg)
          left: 0px

        &--next
          background-image: url(../img/arrow-next-secondary.svg)
          right: 0px
  .activities
    padding-bottom: 70px
    &__cards
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
    padding-right: 70px
  .packages
    &__title
      font-size: 30px
      line-height: 38px
      margin: 0 0 45px 0
    &__wrapper
      grid-template-rows: 500px 500px 500px
      grid-template-columns: 360px 360px
      grid-template-areas: "card1 card1" "card2 card3" "card4 card5"
    &__card
      max-width: 700px
      &-secondary
        max-width: 340px
    &__hotel
      &-name2
        margin: 0 0 23px 0
    &__guest
      &-room2
        margin-bottom: 24px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 88%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding: 22px 0  30px 0
      &__menu-button
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      justify-content: space-between
      flex-direction: column
      align-items: center
      cursor: pointer
      border: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .logo
    width: 99px
  .stars
    flex-basis: auto
  .hotel
    padding-top: 5px
    &-wrapper
      justify-content: space-between
      align-items: center
    &-name
      flex-basis: 100%
    &-info
      &__stars
        margin-right: 17px
        margin-bottom: 10px
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-bottom: 10px
  .booking
    width: 100%

    &__position
      margin-right: 0
      margin-bottom: 20px
    &-wrap
      flex-wrap: wrap
      width: 100%
    &-map
      width: 100%
      height: 173px
    &-slider
      height: 350px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 576px
      width: 88%
      flex-direction: column
      align-items: flex-start
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        margin-bottom: 37px
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
    &__input
      padding-left: 20px
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      margin: 0 auto 42px
    &-slider
      &__item
        padding: 0 30px 36px 30px
      &__button
        top: 45px
        &--prev
          left: 34px
        &--next
          right: 37px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    min-width: 100%
    &:nth-child(2)
      order: 1
    &:nth-child(4)
      order: 1
    &:nth-child(3)
      margin-bottom: 28px
  .packages
    &__title
      font-size: 18px
      line-height: 23px
      margin: 0 0 40px 0
    &__wrapper
      grid-template-rows: 460px 460px 460px
      grid-template-columns: 298px 298px
      grid-template-areas: "card1 card1" "card2 card3" "card4 card5"
    &__card
      max-width: 576px
      &-secondary
        max-width: 278px
    &__container
      padding: 30px 21px 10px 43px
      &-secondary
        padding: 20px 21px 10px 30px
    &__hotel
      margin: 0 0 20px 0
      &-name2
        margin: 0 0 18px 0
      &-name
        margin: 0 0 18px 0
    &__description
      font-size: 12px
      margin: 0 0 40px 0
    &__guest
      margin-bottom: 30px
      &-room
        margin-bottom: 14px
      &-room2
        margin-bottom: 14px
    &__item
      margin-bottom: 9px

@media (max-width: 656px)
  .packages
    &__title
      font-size: 18px
      line-height: 23px
      margin: 0 0 40px 0
    &__wrapper
      row-gap: 20px
      grid-template-rows: 500px 470px 470px 470px 470px
      grid-template-columns: 100%
      grid-template-areas: "card1" "card2" "card3" "card4" "card5"
    &__card
      max-width: 100%
      flex-direction: column
      &-secondary
        max-width: 100%

    &__container
      width: 100%
      padding: 15px 21px 10px 30px
    &__img
      width: 100%
      height: 50%
    &__description
      display: none
    &__guest
      margin-bottom: 24px

@media (max-width: 567px)
  .hotel
    padding-bottom: 40px
    &-info
      &__text
        margin-bottom: 23px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 179px
  .reviews
    padding-bottom: 50px
    &__title
      width: 92%
    &-slider
      &__text
        text-align: left
