.iframe
  width: 100%
  height: 100%
.hotel
  padding: 18px 0 70px 0
  &-grid
    display: flex
    justify-content: space-between
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    &__position
      margin-bottom: 18px
    &__offer
      margin-left: 14px

  &-name
    margin: 0
    font-size: 24px
    line-height: 30px
  &-description
    margin: 0
    font-weight: 400
    font-size: 12px
    line-height: 15px
  &-slider
    width: 728px
    height: 450px
    &__item
      width: 100%
      height: 100%
      position: relative
      border-radius: 8px
      overflow: hidden
      &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        bottom: 0
        right: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
        z-index: 10
    &__button
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 30px
      height: 30px
      border: none
      cursor: pointer
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
      z-index: 99
      background-color: transparent
      &--prev
        left: 18px
        background-image: url(../img/arrow-prev.svg)
      &--next
        right: 18px
        background-image: url(../img/arrow-next.svg)
.stars
  flex-basis: 100%
  margin-bottom: 2px
.star
  &:not(:first-child)
    margin-left: -2px
.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 10px 3px 10px
  background-color: $primary
  color: $light
  border-radius: 4px
.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  background-color: $primary
  border-radius: 4px
  color: $light
  padding: 1px 0 6px 0
  &__text
    font-size: 8px
    line-height: 10px

  &__counter
    font-size: 14px
    line-height: 18px
.text-sub
  font-size: 10px
.booking
  padding: 29px 29px 26px 26px
  border-radius: 8px
  background-color: $dark
  display: flex
  flex-direction: column
  color: $light
  max-width: 100%

  &-wrap
    display: flex
    flex-direction: column
    justify-content: space-between
  &__text
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column

  &__start
    font-size: 10px
    line-height: 12px

  &__pricetag
    font-size: 24px
    line-height: 30px
    font-weight: 800

  &__per-room
    font-size: 12px
    line-height: 14px
  &__person-room
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-end
    height: 40px
  &__room
    margin-bottom: 5px
  &__guests
    margin-top: -4px
    &-room
      font-size: 12px
      line-height: 14px

  &__image
    width: 14px
    height: 14px
    margin-right: 4px
    &-home
      margin-right: 8px
  &__call
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px

    &-choice
      font-size: 18px
      line-height: 25px
      font-weight: 600

    &-number
      font-size: 18px
      line-height: 25px
      font-weight: 600
      color: $light
      text-decoration: none
      display: flex
      align-items: center

    &-image
      width: 14px
      height: 14px
      margin-right: 8px
  &-button
    padding: 13px
    background-color: $primary
    border: none
    border-radius: 4px
    cursor: pointer
    color: $light
    font-size: 14px
    line-height: 19px
  &-map
    border-radius: 10px
    overflow: hidden
    width: 350px
    height: 213px
